input[type="radio"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border: 2px solid #5f6164;
  border-radius: 0.2rem;
  margin: 0 0.4rem;
}

input[type="radio"]:checked {
  height: 1rem;
  width: 1rem;
  border-color: #570d48;
  background-color: #570d48;
}

input[type="radio"]:checked::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient();
}
