@media (max-width: 1650px) {
  .goldButton {
    padding: 1.2rem 2rem;
  }
}

@media (max-width: 1400px) {
  .goldButton {
    padding: 1rem 1.8rem;
  }
}

@media (max-width: 1300px) {
  .goldButton {
    font-size: 0.8em;
    border-radius: 10px;
  }
}

@media (max-width: 1150px) {
  .goldButton {
    padding: 0.7rem 1.2rem;
    font-size: 0.8em;
    border-radius: 10px;
  }
}

