@import "tailwindcss";

/* Hide scrollbar - Chrome, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar - Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Hide scrollbar - IE/Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}
